body { margin:0; font-family: 'Segoe UI', Arial, sans-serif; }
.navbar { display:flex; justify-content:space-between; align-items:center; padding:20px 40px; background:#FAF0E6; }
.navbar ul { list-style:none; display:flex; gap:25px; }
.navbar a { text-decoration:none; color:#36454F; font-weight:600; }
.logo { height:90px; }

.hero { text-align:center; padding:150px 20px; background:#36454F; color:white; }
.cta-button { background:#25D366; color:white; padding:15px 30px; text-decoration:none; border-radius:6px; }

.cards { display:flex; gap:20px; justify-content:center; padding:30px; }
.card { background:white; padding:25px; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,0.1); width:280px; text-align:center; }

.areas-container { display:flex; gap:20px; justify-content:center; padding:30px; }
.area-card { background:#36454F; padding:25px; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,0.1); width:280px; text-align:left; color:#FAF0E6; }

.whatsapp-btn { background:#25D366; padding:15px 30px; color:white; text-decoration:none; border-radius:5px; }

.sobre-container {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.sobre-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.sobre-texto {
    flex: 1;
}

.sobre-texto h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #36454F;
}

.sobre-texto h2 {
    margin-top: 25px;
    color: #FB8B24;
}

.sobre-imagem img {
    width: 210px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


footer { text-align:center; background:#36454F; padding:20px; color:white; }

.form-contato {
    display: flex;
    flex-direction: column;
    max-width: 500px;   /* largura máxima do formulário */
    margin: auto;       /* centraliza na tela */
}

.form-contato label {
    margin-top: 15px;
    font-weight: bold;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-contato textarea {
    resize: none;       /* impede de redimensionar manualmente */
    height: 150px;      /* tamanho fixo da caixa de texto */
}

.btn-acao {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color:#25D366;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
